---
layout: default
title: Projects
permalink: /projects/
weight: 4
---
<div class="content">
  <h2>Projects</h2>
    {% for post in site.projects %}
     {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
     {% if modulo == '0' or forloop.first %}
    <div class="project-list">
     {% endif %}
      <div class="project-card">
          {{post.excerpt}}
          <time datetime="{{post.date}}"{{post.date | date: "%-d %b, %Y "}}></time>
          <span class="post-meta">{{ post.date | date: " %-d %b, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="Permanent link to {{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span></span></a>
        </div>
        {% if modulo == '2' or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
