<footer class="site-footer">

  <div class="container">

    <ul class="contact-list">
      <li>{{ site.title }}</li>
      <li>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      <li>{{ site.description }}</li>
  
        <li> <a class="link" href="/">Home</a></li>
        {% for my_page in site.pages %} {% if my_page.title %}
        <li id="{{my_page.title}}"><a class="link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %} {% endfor %}
    </ul>

  </div>

</footer>
