<footer class="site-footer">

  <div class="container">

    <ul>
      <li>{{ site.title }}</li> |
      <li>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      |
      {% assign pages = site.pages | sort:"weight"  %}
      {% for my_page in pages %} {% if my_page.weight %}
      <li id="{{my_page.title}}"><a {% if my_page.url == page.url %}active {% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> </li>
      {% endif %} {% endfor %}
      |

      <li>
        <a href="https://www.instagram.com/pkkent/?hl=en">
      <div class="icon-white insta">
        <span class="link-spanner"></span>
      </div>
      </li>

      <li>
      <a href="https://github.com/paulkennethkent">
      <div class="icon-white github"><span class="link-spanner"></span>
      </div>
        </a>
      </li>


      <li>
      <a href="https://twitter.com/paulkennethkent">
      <div class="icon-white twitter"><span class="link-spanner"></span>
      </div>
        </a>
      </li>

      <li>
      <a href="https://uk.linkedin.com/in/paul-kent-b8875545">
      <div class="icon-white linkedin"><span class="link-spanner"></span>
      </div>
        </a>
      </li>

      <li>
      <a href="mailto:paul@projectresponsive.com">
      <div class="icon-white email"><span class="link-spanner"></span>
      </div>
        </a>
      </li>

  </ul>
  </div>
</footer>
