<footer class="site-footer">

  <div class="container">

    <ul class="contact-list">
      <li>{{ site.title }}</li> |
      <li>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      |
      {% assign pages = site.pages | sort:"weight"  %}
      {% for my_page in pages %} {% if my_page.weight %}
      <li id="{{my_page.title}}"><a {% if my_page.url == page.url %}active {% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> </li>
      {% endif %} {% endfor %}
      |
      <li>
      <div class="icon-insta">
      </div>
      </li>
      <li>
      <div class="icon-github">
      </div>
      </li>
      <li>
      <div class="icon-twitter">
      </div>
      <li>
      <div class="icon-linked">
      </div>
    </li> 

  </ul>
  </div>
</footer>
