<header class="site-header">
  <div class="container">
    <div class="branding">
      <!-- <img src="http://placehold.it/100x70?text=Project+Responsive"> -->
      <h1 class="perm">Project Responsive</h1>
    </div>

    <div class="trigger">
      <ul class="fixed-top-nav">
        <li> <a class="link" href="/">Home</a></li>
        {% for my_page in site.pages %} {% if my_page.title %}
        <li id="{{my_page.title}}"><a class="link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</header>
