<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 369.91 369.3">
  <defs>
    <style>
      .cls-1 {
        fill: none;
      }

      .cls-1,
      .cls-3,
      .cls-4,
      .cls-5,
      .cls-6 {
        stroke: #231f20;
        stroke-linecap: round;
        stroke-miterlimit: 10;
      }

      .cls-2,
      .cls-3 {
        fill: #252525;
      }

      .cls-4 {
        fill: #111;
      }

      .cls-5 {
        fill: #036307;
      }

      .cls-6 {
        fill: #e6e7e8;
      }

    </style>
  </defs>
  <title>logo</title>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M289.39,315.17" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M60.67,84.71" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M315.18,289.57" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-2" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <path class="cls-1" d="M89.34,62.05" transform="translate(0 -0.02)"/>
  <polygon class="cls-3" points="2.44 185.92 1.74 138.44 47.2 183.14 1.72 229.74 2.44 185.92"/>
  <rect class="cls-4" x="15.01" y="105.91" width="65.19" height="63.91" transform="translate(-83.3 73.52) rotate(-44.78)"/>
  <rect class="cls-4" x="61.28" y="59.99" width="65.19" height="63.91" transform="translate(-37.52 92.79) rotate(-44.78)"/>
  <rect class="cls-4" x="107.75" y="14.52" width="63.91" height="63.91" transform="translate(7.8 111.87) rotate(-44.78)"/>
  <polygon class="cls-3" points="139.87 1.53 185.52 1.53 231.16 0.83 184.89 46.83 139.87 1.53"/>
  <rect class="cls-5" x="14.21" y="197.02" width="65.19" height="65.19" transform="translate(-148.15 99.58) rotate(-44.78)"/>
  <rect class="cls-6" x="60.48" y="151.09" width="65.19" height="65.19" transform="translate(-102.38 118.84) rotate(-44.78)"/>
  <rect class="cls-6" x="106.76" y="105.17" width="65.19" height="65.19" transform="translate(-56.6 138.12) rotate(-44.78)"/>
  <rect class="cls-6" x="153.22" y="59.7" width="63.91" height="65.19" transform="translate(-11.28 157.2) rotate(-44.78)"/>
  <rect class="cls-5" x="198.4" y="14.23" width="65.19" height="65.19" transform="translate(34.05 176.28) rotate(-44.78)"/>
  <rect class="cls-5" x="60.13" y="243.29" width="65.19" height="65.19" transform="translate(-167.42 145.36) rotate(-44.78)"/>
  <rect class="cls-6" x="106.4" y="197.37" width="65.19" height="65.19" transform="translate(-121.65 164.62) rotate(-44.78)"/>
  <rect class="cls-6" x="152.68" y="151.44" width="65.19" height="65.19" transform="translate(-75.87 183.89) rotate(-44.78)"/>
  <rect class="cls-6" x="199.14" y="105.97" width="63.91" height="65.19" transform="translate(-30.55 202.98) rotate(-44.78)"/>
  <rect class="cls-5" x="244.33" y="60.5" width="65.19" height="65.19" transform="translate(14.78 222.06) rotate(-44.78)"/>
  <rect class="cls-5" x="106.05" y="289.57" width="65.19" height="65.19" transform="translate(-186.7 191.13) rotate(-44.78)"/>
  <rect class="cls-6" x="152.33" y="243.65" width="65.19" height="65.19" transform="translate(-140.92 210.4) rotate(-44.78)"/>
  <rect class="cls-6" x="198.61" y="197.72" width="65.19" height="65.19" transform="translate(-95.14 229.67) rotate(-44.78)"/>
  <rect class="cls-6" x="245.06" y="152.25" width="63.91" height="65.19" transform="translate(-49.82 248.75) rotate(-44.78)"/>
  <rect class="cls-5" x="290.25" y="106.77" width="65.19" height="65.19" transform="translate(-4.49 267.83) rotate(-44.78)"/>
  <polygon class="cls-3" points="138.47 368.2 184.75 322.27 230.67 368.53 184.57 368.53 138.47 368.2"/>
  <rect class="cls-4" x="198.25" y="289.92" width="65.19" height="65.19" transform="translate(-160.19 256.18) rotate(-44.78)"/>
  <rect class="cls-4" x="244.53" y="244" width="65.19" height="65.19" transform="translate(-114.41 275.45) rotate(-44.78)"/>
  <rect class="cls-4" x="290.99" y="198.53" width="63.91" height="65.19" transform="translate(-69.09 294.53) rotate(-44.78)"/>
  <polygon class="cls-3" points="322.9 185.43 369.41 139.51 369.41 185.6 368.94 231.7 322.9 185.43"/>
</svg>
