/* Changing Susy default global settings */
$susy: ( columns: 12, math: fluid, output: float, gutters: 1/4, gutter-position: inside, );
* {
  margin: 0;
}
html {
  position: relative;
  min-height: 100%;
}
header {
  @include span(12);
  border: 1px solid #ccc;
  position: static;
  .branding {
    @include span(4);
  }
  .trigger {
    @include span(8 at 4);
  }
}
body {
  height: 100%;
  // font-family: $font-main;
   margin: 0 0 60px; /* bottom = footer height */
}

main {
  @include span(12);
}


footer {
  @include span(12);
  background-color: #999999;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  ul {
    color: #fff;
  }
  li {
    display: inline;
    padding: 5px;
  }
}
