.mega {
  margin-left: -100%;
  margin-right: -100%;
  border-bottom: 1px solid $green;
  .hero {
    min-height: 401px;
    background-image: -webkit-linear-gradient(left, $greyhero 1px, transparent 1px), -webkit-linear-gradient($greyhero 1px, transparent 0.2em);
    background-image: -o-linear-gradient(left, $greyhero 1px, transparent 1px), -o-linear-gradient($greyhero 1px, transparent 1px);
    background-image: linear-gradient(to right, $greyhero 1px, transparent 1px), linear-gradient($greyhero 1px, transparent 1px);
    height: 100%;
    background-size: 20px 20px;
    .hero-image {

    }
    .hero-left {
      @include span(12);
      min-height: 401px;
      width: 100vw;
      vertical-align: middle;
      text-align: center;
      img {
        top: $hero-image-top;
        position: absolute;
        height: $hero-image-height;
        margin: $hero-image-margin;
      }
    }
    .hero-right {
      display: none;
      }
  }
}
@include breakpoint($mobile) {
  .mega {
    margin-left: -100%;
    margin-right: -100%;
    border-bottom: 1px solid $green;
    .hero {
      min-height: 401px;
      background-image: -webkit-linear-gradient(left, $greyhero 1px, transparent 1px), -webkit-linear-gradient($greyhero 1px, transparent 0.2em);
      background-image: -o-linear-gradient(left, $greyhero 1px, transparent 1px), -o-linear-gradient($greyhero 1px, transparent 1px);
      background-image: linear-gradient(to right, $greyhero 1px, transparent 1px), linear-gradient($greyhero 1px, transparent 1px);
      height: 100%;
      background-size: 20px 20px;
      perspective: 1000px;
			.hero-image {
				display: block;
        width: 100vw;
        margin: 0 auto;
			}
			.hero-left {
				width: 40vw;
        left: 0vw;
				min-height: 401px;
				position: relative;
				img {
					top: $hero-image-top;
					right: 0px;
					position: absolute;
					height: $hero-image-height;
          margin: $hero-image-margin;
				}
			}
			.hero-right {
				min-height: 401px;
				position: relative;
        display: block;
				width: 40vw;
        margin-left: 50vw;
				img {
					top: $hero-image-top;
					left: 0px;
					position: absolute;
					height: $hero-image-height;
          margin: $hero-image-margin;
				}
			}
    }
  }
}; // HERO images
