.icon {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 3px;
}

.icon-white {
  @extend .icon;
  background-color: $white;
  &:hover {
    background-color: $fontblack;
  }
}

.icon-black {
  @extend .icon;
  background-color: $fontblack;
  &:hover {
    background-color: $green;
  }
}
.insta {
  -webkit-mask-image: url("../images/insta.svg");
  mask-image: url("../images/insta.svg") no-repeat 50% 50%;
}
.twitter {
  -webkit-mask-image: url("../images/twitter.svg");
  mask-image: url("../images/twitter.svg") no-repeat 50% 50%;
}
.linkedin {
  -webkit-mask-image: url("../images/linked.svg");
  mask-image: url("../images/linked.svg") no-repeat 50% 50%;
}
.github {
  -webkit-mask-image: url("../images/github.svg");
  mask-image: url("../images/github.svg") no-repeat 50% 50%;
}
.email {
  -webkit-mask-image: url("../images/mail.svg");
  mask-image: url("../images/mail.svg") no-repeat 50% 50%;
}
