.icon {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 3px;
}

.footer-social a svg #email,
.footer-social a svg #linkedin,
.footer-social a svg #github,
.footer-social a svg #twitter,
.footer-social a svg #instagram {
  fill: #fff;
  stroke: #fff;
}

a svg:hover #email,
a svg:hover #linkedin,
a svg:hover #github,
a svg:hover #twitter,
a svg:hover #instagram {
  fill: #000;
  stroke: #000;
}
