.mega {
  background-color: #434343;
  background-image: linear-gradient(#434343, #282828);
  margin-left:-100%;
  margin-right:-100%;
  .hero {
    min-height: 400px;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
  }
}

.container {
  @include container(80%);
}

.content {
  @include span(12);
}

.home-art {
  @include span(6);
}

.home-proj {
  @include span(6);
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* blockquote styles */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* code styles  */

pre {
  background-color: black;
  padding: 10px;
  margin:5px 40px;
  border-left: 10px solid $green;
  code {
  color: white
  }
}
