.mega {
  margin-left:-100%;
  margin-right:-100%;
  border: 2px solid black;
  .hero {
    min-height: 401px;
    background-image: -webkit-linear-gradient(left, $greyhero 1px, transparent 1px), -webkit-linear-gradient($greyhero 1px, transparent 0.2em);
    background-image: -o-linear-gradient(left, $greyhero 1px, transparent 1px), -o-linear-gradient($greyhero 1px, transparent 1px);
    background-image: linear-gradient(to right, $greyhero 1px, transparent 1px), linear-gradient($greyhero 1px, transparent 1px);
      height: 100%;
      background-size: 20px 20px;
    }
}

.container {
  @include container(80%);
}

.content {
  @include span(12);
  margin: 5px 0 0 0;
}

// homepage

.home-art {
  @include span(5.5);
}

.home-proj {
   @include push(1);
  @include span(5.5);

  img {
    border: 0.1em solid black;
    max-width: 100%;
    max-height: 100%;

  }
}

// blog home

.blog-list {
  @include span(9);
}
// sidebar
.sidebar {
  @include span(3);
  border-right: 1px solid $cashmere;
}

// post styles

.post-title {

}

.post-meta {
 color: white;
 padding: 0.2em;
 color: $quiet-color;
}

.post-link {
  text-decoration: none;
  @extend .link;
}

.post-content {
  margin: 1em 0 0 0;
}

.post-readmore {
  @extend .link;
  text-align: right;
  font-size: 0.7em;
}

/* blockquote styles */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

// tag cloud

.tagcloud {

  padding-left:5px;
  li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 0.8em;
  }
}

/* code styles  */

pre {
  background-color: black;
  padding: 10px;
  margin:5px 40px;
  border-left: 10px solid $green;
  code {
  color: white
  }
}
