//main
main {
  margin-left: 1em;
}
.home-proj {
  img {
    border: 0.1em solid black;
    max-width: 100%;
    max-height: 100%;
  }
}
// homepage
@include breakpoint($mobile) {
  .content {
    @include span(12);
    margin: 5px 0 0;
  }
  .home-art {
    @include span(5.5);
  }
  .home-proj {
    @include push(1);
    @include span(5.5);
  }
}
// blog home
.blog-list {
  @include span(12);
  padding: 5px;
}
.blog-post {
  padding: 5px;
}
// sidebar
.sidebar {
  @include span(3);
  border-right: 1px solid $green;
}
// post styles
.post-title {}
.post-meta {
  color: white;
  padding: 0.2em;
  color: $quiet-color;
}
.post-link {
  text-decoration: none;
  @extend .link;
}
.post-content {
  margin: 1em 0 0;
  img {
    height: 30%;
    width: 30%;
  }
}
.post-readmore {
  @extend .link;
  text-align: right;
  font-size: 0.7em;
}
// project styles
.project-card {
  margin: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
@include breakpoint($mobile) {
  .project-list {
    display: flex;
  }
  .project-card {
    @include span(4);
  }
}
/* blockquote styles */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
// tag cloud
.tagcloud {
  padding-left: 5px;
  li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 0.8em;
  }
}
/* code styles  */
pre {
  background-color: black;
  padding: 10px;
  margin: 5px 40px;
  border-left: 10px solid $green;
  code {
    color: white;
  }
}
