.trigger {
    height: $header-height;
    line-height: $header-height;
  }

.fixed-top-nav {
  vertical-align: middle;
  list-style: none;
  white-space: nowrap;
  text-align: right;
  li {
    display: inline-block;
    padding: 5px;
    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.branding {
  height: $header-height;
  line-height: $header-height;
  img {
    vertical-align: middle;
  }
}
