//font
$font-main: Helvetica;
//dimensions
$header-height: 80px;
//colours
$cashmere: #E8B6A5;
$green: #036307;
$greyhero: #D3D3D3;
$black: #000;
$fontblack: #333;
$white: #fff;
$lightgrey: #e6e6e6;


//breakpoint
$mobile: 800px;

//hero
$hero-image-height: 270px;
$hero-image-top: 30px;
$hero-image-margin: 15px;
