---
layout: default
title: Blog
---


<div class="content">
  {% include sidebar.html %}

  <div class="blog-list">
    <h2 class="perm">{{ page.title }}</h2>
    {% for post in paginator.posts limit:3 %}
    <div class="blog-post">
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="Permanent link to {{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <p>
        <time datetime="{{post.date}}"{{post.date | date: "%-d %b, %Y "}}></time>
        <span class="post-meta">{{ post.date | date: " %-d %b, %Y" }}</span>
        <p>{{post.excerpt}}</p>
        <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        <hr>
      </p>
    </div>
    {% endfor %}


    <div class="pagination">
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <p class="prevLink">
        <a href="{{site.baseurl}}/blog/" class="previous">new enteries</a>
      </p>
      {% else %}
      <p class="prevLink">
        <a href="{{site.baseurl}}/blog/page{{paginator.previous_page}}" class="previous" >new enteries</a>
      </p>
     {% endif %}
     {% endif %}

     {% if paginator.next_page %}
      <p class="nextLink">
        <a href="{{site.baseurl}}/blog/page{{paginator.next_page}}" class="next">older entries</a>
      </p>

      {% endif %}
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div> <!-- pagination end -->
  </div><!-- blog-post end -->


   <!-- include sidebar -->

</div>
